@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
h1 {
    text-align: center;
    font-size: 60px;
    font-family: "Comforter Brush", cursive, Arial, Helvetica, sans-serif;
}
img {
    width: 600px;
    height: 600px;
}
a {
    text-decoration: none;
}
