@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
    background-size: 15px 15px;
    background-position: center center;
  }

h1{
    padding: 50px 0px;
    text-align: center;
    font-size: 120px;
    font-family: "Comforter Brush", cursive, Arial, Helvetica, sans-serif;
}
h2 {
    
    padding: 50px 0px;
    text-align: center;
    font-size: 50px;
    font-family: "Comforter Brush", cursive, Arial, Helvetica, sans-serif;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 54% 46% 47% 53% / 24% 55% 45% 76%;
    
    
}

.anc {
    width: 300px;
    height: 300px;
    border-radius: 54% 46% 47% 53% / 24% 55% 45% 76%;
    box-shadow: 0px 0px 15px 10px rgb(0, 0, 0);
}

.nav2 a {
    text-decoration: none;
    font-size: 50px;   
}


.item {
    display:flex;
    flex-direction: row;
    justify-content: center;  
}

.nav1 li {
    font-family: "Comforter Brush", cursive, Arial, Helvetica, sans-serif;
    padding: 40px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
}

 a {
    text-decoration: none;
    color: royalblue;
    overflow: hidden;
    background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

a:hover {
    background-position: 0 100%;
}

.nav2 {
    position: relative;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 50px;
    font-family: "Comforter Brush", cursive, Arial, Helvetica, sans-serif;
}

ol {
    padding-left: 40px;  
}

ol li {
    padding-bottom: 20px;
    font-size: 30px;
}

.list li{ 
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
}
  
p {
    margin-bottom: 40px;
    font-size: 30px;
    padding: 20px 0;
    text-align: center;
}
.back {
    font-size: 30px;
    padding-top: 50px;   
}

blockquote {
    padding-left: 20px;
    font-size: 25px;
}

sup {
    font-size: small;
}
